RewriteEngine On

RewriteCond $1 !^(index\.php)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?KEY=$1 [L]
RewriteRule ^api/(.*) index.php?KEY=$1 [R]